<!-- NetworkVisualisationToolWebsite/templates/NetworkVisualisationToolWebsite/about.html-->
{% extends "base.html" %}
{% block page_content %}
<style>
    h1{
        text-align: center; color:white; background-color: #005597; font-family: Inter; 
    }
</style>

<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<link href="home-style.css" rel='stylesheet'>
<h1><b>EMERGENCE <br/> Network Visualisation </b></h1>

<h2 style="text-align: center; color: #005597; font-size: 30px; font-family: Inter; padding-top: 20px;"><b>About the Network Visualisation</b></h2>
<h1 style="padding-right: 150px;"><a href="http://127.0.0.1:8000/" style="position: absolute; font-size: 20px; color: black;">Home</a></h1>
<h1><a href="http://127.0.0.1:8000/how-to/" style="position: absolute; font-size: 20px;color: black;">How-To</a></h1>
<h3 style="text-align: left; color: #005597; font-size: 25px; font-family: Inter; display: inline-flex; padding-top: 25px;"><b>What is a Network Visualisation?</b></h3><br/>
<span style="float: left; color:#1A296B; font-size: 15px; font-family: Inter; display: inline-flex; padding-top: 25px;">
<b>
A network visualisation is a method used to<br/> 
display relationships between different<br/> 
connected entities, in an easy-to-read visual manner.<br/>
<br>
The graph below is an interactive graphical<br/> 
representation of the EMERGENCE network<br/>
members.<br/>
<br>
In this case each member of the network is an<br/> 
individual entity, represented on the graph as a <br/>
node, or a small labelled circle.<br/>
<br>
A connection or relationship between two nodes<br/>
is represented as an edge, or a straight line<br/>
between two nodes.<br/>
<br>
Each member of the network is represented as<br/>
an individual node on the graph colour coded<br/>
based on their professional/research area of<br/>
interest.<br/> 
<br>
</b> 
</span>
<h3 style="float: right; color: #005597; font-size: 25px; font-family: Inter; display:inline-flex;"><b>Why use a Network Visualisation?</b></h3><br/>
<br>
<span style="float: right; color:#1A296B; font-size: 15px; font-family: Inter; display:inline-flex;">
<b>
In the context of the EMERGENCE network, a <br/> 
network visualisation is extremely useful in <br/>
helping members of the network find each<br/>
other, for example, a researcher may want to<br/>
find someone in a different field to help them<br/>
with a robotics project to aid those with frailty.<br/>
<br>
Or an end-user wanting to see if one of their<br/>
friends recently joined the network, this tool<br/>
can be used in many different contexts for many<br/>
different types of users to achieve different<br/>
goals.<br/>
<br>
The tool also allows users to filter members<br/>
based on different attributes such as<br/>
institution, specialty, location etc. which allows members<br/>
to quickly find the person they need<br/>
without excessive searching.<br/>
</b>
</span>


{% endblock page_content%}